@charset "UTF-8";
@font-face {
      src : url("/font/HanaB.ttf"); 
      font-family: "hanaFont";
}
@font-face {
      src : url("/font/Pretendard-ExtraBold.otf"); 
      font-family: "pretendard";
}

html{
	font-family: "pretendard", san-serif;
}


#consumeCalendarButton{
  position:absolute; top:50%; left:50%;
  width:120px; height:30px; margin-top:-15px; margin-left:-60px;
  line-height:15px; cursor:pointer;
  display:none;
}
.consumeCalendarModal{
  	position:absolute;
  	width:100%;
  	height:300%; 
  	background: rgba(0,0,0,1.0); 
  	top:0; 
  	left:0; 
  	display:none;	
}
.consumeCalendarModal_content{ 
	font-size:24px;
	font-family: "pretendard";
	width:600px; 
	height:400px;
 	background:#fff; 
 	border-radius:10px;
  	position:relative;  
  	margin-top:800px; 
  	margin-left:650px;
  	text-align:center;
  	box-sizing:border-box; 
  	padding:10px 0;
    line-height:23px; 
  	cursor:pointer;
  	letter-spacing: 0.5px;
 	word-spacing: 1px;
  	line-height:40px;
}
#wayToUseCalender{
	font-size:40px;
	font-family: "pretendard";
	padding-top:120px;
	padding-bottom:80px;
	color:black;
}
#calendarTitle{
	font-family: "pretendard";
	display:none;
	font-size:40px;
	color:black;
}
#calendar{
	width:80%;
	background-color:white;
	border-radius:10px;
	box-shadow: 0px 5px 20px gray;  
    font-family: "hanaFont";
	font-size:24px;
	color:black;
}

.calendarExplanation{
	font-size:20px;
	font-family: "pretendard";
	margin-right:380px;
}
#addCalendar{
	font-size:20px;
	font-family: "pretendard";
	border-radius:10px;
	box-shadow: 1px 1px 3px 1px #dadce0 inset;
	background-color:#008485;
	color:white;
	padding: 8px 20px;
	border: 1px solid #008485;
	transition-duration:0.6s;	
}
#addCalendar:hover{
	background-color:white;
	color:#008485;
	border: 1px solid #008485;
	opacity:0.8;
}

#addCalendarModalButton{
	position:absolute; 
	top:50%; 
	left:50%;
    width:120px; 
    height:30px; 
    margin-top:-15px; 
    margin-left:-60px;
    line-height:15px; 
    cursor:pointer;
	display:none;
}
.addCalendarModal{
	  position:absolute; 
	  width:100%; 
	  height:300%; 
	  background: rgba(0,0,0,0.9); 
	  top:200px; 
	  left:0; 
	  display:none;
}
.addCalendarModal_content{
	  width:700px; 
	  height:800px;
  	  background: linear-gradient(to bottom,white 50%,#EFEBE9 80%); 
  	  border-radius:10px;
  	  position:relative; 
      margin-top:300px; 
      margin-left:600px;
      text-align:center;
      box-sizing:border-box; 
      padding:10px 0;
      line-height:23px; 
      cursor:pointer;
      font-family: "pretendard";
}
.addCalendarModalTitle{
	font-size:30px;
	font-family: "pretendard";
}
.addCalendarDateType{
	justify-content : center;
  	align-items : center;
	display : flex;
	font-size:22px;
	
}
.addedDateModalCalendar{
	width:60%;
}
.addTodoListButton{
	width:30%;
	border-radius:20px;
	/* box-shadow: 1px 1px 3px 1px #dadce0 inset;	 */
	padding: 8px 6px;
	background-color:#008485;
	color:white;
	font-family: "pretendard";
}
.addTodoListButton:hover{
	background-color:white;
	color:#008485;
	border: 2px solid #008485;
}
#cardImgRelatedToAccount{
	display:none;
}
.selectedAccount{
	width:60%;	
}
.myTodoList{
	width:60%;		
}
.myDetailTodoList{
	width:60%;		
}
#noticeAboutAddCalendarButton{
	display:none;
}
.noticeAboutAddCalendarModal{
  	position:absolute; 
  	width:100%; 
  	height:300%; 
  	background: rgba(0,0,0,0.9); 
  	top:0; 
  	left:0; 
  	display:none;		
}
.noticeAboutAddCalendarModal_content{
  	width:500px; 
  	height:320px;
  	background:#fff; 
 	border-radius:10px;
  	position:relative;  
  	top:500px;
    margin-left:700px;
    text-align:center;
    box-sizing:border-box; 
    padding:10px 0;
    line-height:23px; 
    cursor:pointer;
    font-family: "pretendard";
    line-height:23px; 
  	letter-spacing: 1px;
 	word-spacing: 1px;
 	font-size:20px;    	
}
.fc-event-title{
	color:black !important;
}
.fc-daygrid-day-number{
	color:#008485 !important;
}

.fc-event-time{
	color:#008485 !important;
}
.fc-toolbar-title{
	font-size:30px !important;
}
